crires_planning_tool/__pycache__/*pyc
.DS_Store
crires_planning_tool/classes_methods/__pycache__
crires_planning_tool/classes_methods/__pycache__/*pyc
# virtual environments
crires_planning_tool/crirestool
crires_planning_tool/venv
crires_planning_tool/.DS_Store
crires_planning_tool/Plots
crires_planning_tool/csv_files/*.csv
crires_planning_tool/picklefiles
crires_planning_tool/*files/*processed*
crires_planning_tool/output1.json
etc_cli_examples
crires_planning_tool/classes_methods/__pycache__/
example.cprof
**/*.log
crires_planning_tool.egg-info/

!crires_planning_tool/csv_files/PlanetList.csv

